body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/random/?city,landscape');
    background-size: cover;
    font-size: 1.2em;
}
.card{
    background-color: #f6feff;
    background-color: rgba(255,255,255,0.5);
    padding: 2em;
    border-radius: 30px;    
    width: 100%;
    max-width: 420px;
    margin: 1em;
}
.icon{
    width: 4rem;
    margin-left: -20px;
}
.icon-div{
    display: flex;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: 1em;
    border-radius: 50%;
    border: none;
    
}
.search-img{
    height: 25px;
}
input.search-bar{
    border-radius: 18px;
    border: lightgray 2px solid;
    height: 2.2em;
    width: calc(100% - 100px);
    font-size: medium;
}
button:hover{
    background-color: lightgreen;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather.loading::after{
    visibility: visible;
    color: white;
    position: absolute;
    top:0;
}
